<?xml version="1.0"?>
<model>
  <name>vtol_tricopter</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Liam Reschke / Ualberta Aero Design</name>
    <email>lreschke@ualberta.ca</email>
  </author>

  <description>
    Tricopter VTOL with tilt-rotors and a downward-facing camera for precision landing.
  </description>

  <depend>
    <model>
      <uri>model://vtol_tri_tilt</uri> 
    </model>
  </depend>
</model>